:root {
    --light: #ffffff;
    --lightgrey: #f5f5f5;
    --lightred: #fff4f4;

    --grey: #aab2c8;
    --dark: #000022;
    --green: #2bc57b;
    --blue: #1f64ff;
    --red: #ff5757;

    --radius: 8px;
    --radius-sm: 5px;
    --radius-lg: 10px;
}

.v-application a {
    text-decoration: none;
}

.c-field .v-input__slot {
    background-color: var(--lightgrey) !important;
    border-radius: var(--radius);

    & fieldset {
        border-color: var(--lightgrey) !important;
        color: var(--lightgrey);

        &:focus {
            border-color: var(--blue) !important;
        }
    }
}

.c-field.v-input--is-focused label {
    color: var(--blue) !important;
}

.v-text-field--outlined.v-input--is-focused fieldset {
    border-color: var(--blue) !important;
}

.—Å-form {
    border: 1px solid var(--lightgrey);
    padding: 12px;
    border-radius: var(--radius);
}